.menu{
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: #343a40;
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
     letter-spacing: 3px;
}

.titulo{
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
   text-shadow: 3px 2px;


}

body{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}